@using SX.WebCore;
@{
    Layout = null;
    var lang = SiteSettingsProvider["lang"]?.Value ?? "ru";
    var title = ViewBag.Title == null ? SX.WebCore.MvcApplication.SxMvcApplication.DefaultSiteName : $"{ViewBag.Title} | {SX.WebCore.MvcApplication.SxMvcApplication.DefaultSiteName}";
}
<!DOCTYPE html>
<html>
<head lang="@lang">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:url" content="@Url.ContentAbsUrl(Request.RawUrl)" />
    @if (title != null)
    {
        <title>@title</title>
        <meta property="og:title" content="@title" />
    }
    @if (ViewBag.Description != null)
    {
        <meta name="description" content="@ViewBag.Description" />
        <meta property="og:description" content="@ViewBag.Description" />
    }
    @if (ViewBag.Keywords != null)
    {
        <meta name="keywords" content="@ViewBag.Keywords" />
    }
    @if (ViewBag.PageImage != null)
    {
        var pageImgUrl = Url.ContentAbsUrl(Url.Action("Picture", "Pictures", new { id = ViewBag.PageImage }));
        <meta property="og:image" content="@pageImgUrl" />
    }
    @RenderSection("meta", false)
    <link href="@Url.Action("Css", "StaticContent", new { name = "bootstrap" })" rel="stylesheet" />
    <link href="@Url.Action("Css", "StaticContent", new { name = "font-awesome" })" rel="stylesheet" />
    <link href="~/content/dist/css/site.min.css" rel="stylesheet" />
    @RenderSection("styles", false)
</head>
<body>
    <div class="page-wrapper">
        @Html.Partial("_NavBar")
        <div class="page">
            <div class="page-col-2">
                @Html.Partial("_AboutMe")
                @Html.Partial("_Menu")
                @Html.Partial("_Categories")
                @Html.Partial("_Meta")
            </div>
            <div class="page-col-7">
                @if (Breadcrumbs != null && Breadcrumbs.Any())
                {
                    <div class="breadcrumbs">
                        @Html.SxBreadcrumbs(Breadcrumbs)
                    </div>
                }
                @RenderBody()
            </div>
            <div class="page-col-3">
                @Html.Action("Statistic", "Articles")
                @Html.Action("Accordion", "SiteNets")
                <div class="banner-right">
                    <img src="/content/dist/i/temp/addsens.jpg" style="max-width:100%;" />
                </div>
            </div>
        </div>
    </div>
    <script src="@Url.Action("Js", "StaticContent", new { name="jquery"})"></script>
    <script src="@Url.Action("Js", "StaticContent", new { name="bootstrap"})"></script>
    <script src="@Url.Action("Js", "StaticContent", new { name="jquery.validate"})"></script>
    <script src="@Url.Action("Js", "StaticContent", new { name="jquery.validate.unobtrusive"})"></script>
    <script src="~/content/dist/js/site.min.js"></script>
    <script>
        $(function () {
            var page = new Page();
            page.initialize();

            var navbar = new Navbar();
            navbar.initialize('.nav-bar');
        });
    </script>
    @RenderSection("scripts", false)
</body>
</html>