@{
    var controller = ViewController;
}
<div class="l-b menu">
    <ul>
        <li @(controller == "articles" ? "class=active" : null)><a href="@Url.Action("List", "Articles")">Главная</a></li>
        <li @(controller == "users" ? "class=active" : null)><a href="@Url.Action("About", "Users", new { nikname="simlex"})">Обо мне</a></li>
        <li><a href="#">Контакты</a></li>
        <li class="get-site-btn"><a href="mailto:simlex.dev.2014@gmail.com">Заказать сайт</a></li>
        <li class="examples-site-btn @(controller == "projects" ? "active" : null)"><a href="@Url.Action("List", "Projects")">Примеры работ</a></li>
    </ul>
</div>