@model simlex.ViewModels.MaterialsStatisticBlock

<aside class="mat-stat">

    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#posts" aria-controls="posts" role="tab" data-toggle="tab">Статьи</a></li>
        <li role="presentation"><a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">Комментарии</a></li>
        <li role="presentation"><a href="#tags" aria-controls="tags" role="tab" data-toggle="tab">Теги</a></li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="posts">
            <ul class="mat-stat__materials">
                @for (int i = 0; i < Model.Materials.Length; i++)
                {
                    var material = Model.Materials[i];
                    <li>
                        <i class="fa fa-file-text-o"></i> <a href="@material.GetUrl(Url)">@material.Title</a>
                    </li>
                }
            </ul>
        </div>
        <div role="tabpanel" class="tab-pane" id="comments">
            <ul class="mat-stat__comments">
                @for (int i = 0; i < Model.CommentedMaterials.Length; i++)
                {
                    var commentedMaterial = Model.CommentedMaterials[i];

                    <li>
                        <i class="fa fa-comment-o"></i> <span class="mat-stat__comment-author">@(commentedMaterial.LastComment.User?.NikName ?? commentedMaterial.LastComment?.UserName)</span> <a href="@($"{commentedMaterial.GetUrl(Url)}#sx-comment-{commentedMaterial.LastComment.Id}")">@commentedMaterial.Title</a>
                    </li>
                }
            </ul>
        </div>
        <div role="tabpanel" class="tab-pane" id="tags">
            @Html.SxTagsCloud(Model.Tags, x => Url.Action("List", "Articles", new { tag = x.Id }), 14, false)
        </div>
    </div>

</aside>